@import "../../variables";

.dropDown-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  ul {
    max-height: 70vh;
    overflow: scroll;
  }
  h4 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.second {
  width: inherit;
  border-bottom: 1.5px solid black;
  background: white;
  padding: 16px;
  font-family: $font-secondary;
  font-size: 1.2rem;
}

.third {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  justify-content: space-between;
}

.fourth {
  display: flex;
  list-style: none;
  top: 100%;
  flex-direction: column;
  width: inherit;
  position: absolute;
  border-left: 0.5px solid gray;
  border-right: 0.5px solid gray;
  border-bottom: 0.5px solid gray;
  box-shadow: -5px 29px 24px -19px rgba(0, 0, 0, 0.59);
  -webkit-box-shadow: -5px 29px 24px -19px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: -5px 29px 24px -19px rgba(0, 0, 0, 0.59);
}

.fifth {
  cursor: pointer;
  background: white;
  font-family: $font-secondary;
  :hover {
    background: lighten($color-accent, 70);
  }
  div {
    a {
      text-decoration: none;
      color: $color-accent;
    }
  }
}

.dropdown-heading {
  font-size: 1.5rem;
  padding: 1rem;
  font-family: $font-secondary;

  background: $color-accent;
  color: $color-grey;
}

.dropdown-listItem {
  font-size: 1.2rem;
  padding: 1rem;
}

@media (max-width: 1100px) {
  .dropDown-container {
    width: 95%;
    h4 {
      font-size: 1.1rem;
    }
  }
}
