@import "../../variables";
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: flex;
  max-width: 100%;
  justify-content: center;
  padding: 48px;
  align-items: center;
  border: 1px solid black;
  background: white;
  font-family: $font-cursive;
  font-size: 2.5rem;
}

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  img {
    width: 80px;
    height: auto;
    opacity: 0.8;
  }

  p {
    font-family: $font-secondary;
    font-size: 1.2rem;
  }

  .close-btn {
    border: 0.2px solid $color-dark;
    padding: 1rem 2rem;
    background: $color-accent;
    color: $color-white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1.5rem;
  }
}
