@import "../../variables";

.dog-wrapper {
  width: 100%;
}

.dogs-container {
  padding-top: 15vh;
  background: white;
  width: 100%;
  display: flex;
  margin-bottom: 4rem;
}

.all-dogs-wrapper {
  width: 100%;
}

.all-dogs-container {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  row-gap: 3rem;
  column-gap: 1rem;
  width: 100%;
  h3 {
    font-size: 1.1rem;
    font-family: $font-secondary;
    font-weight: 100;
  }
  .all-dogs-dog {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    overflow: hidden;
    a {
      text-decoration: none;
      color: $color-accent;
    }
    .all-dogs-image-container {
      width: 100%;
      height: 300px;
      max-height: 100%;
      overflow: hidden;
      img {
        max-height: 100%;
        max-width: 100%;
        cursor: pointer;
        transition: transform 0.3s;
        box-shadow: 5px 5px 10px -1px $color-dark;
      }
      img:hover {
        transform: scale(1.05);
      }
    }
  }
}

@media (max-width: 1150px) {
  .dogs-container {
    flex-direction: column;
    .all-dogs-container {
      row-gap: 2rem;
    }
  }

  .all-dogs-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (max-width: 900px) {
  .dogs-container {
    .all-dogs-container {
      padding: 0;
      row-gap: 0rem;
      h3 {
        font-size: 1.1rem;
        font-family: $font-secondary;
        font-weight: 100;
      }
      .all-dogs-dog {
        margin-bottom: 1rem;
      }
    }
  }
}
