@import "../../_variables.scss";

.footer {
  min-height: 60vh;
  background: rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(204, 210, 210, 1) 0%,
    rgba(196, 203, 203, 1) 0%,
    rgba(176, 186, 186, 1) 0%,
    rgba(151, 164, 165, 1) 0%,
    rgba(109, 127, 128, 1) 0%,
    rgba(50, 75, 76, 1) 100%
  );
  // background: $color-accent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10vh 0 3rem 0;
}

.footer h3 {
  text-align: center;
  margin-bottom: 2rem;
  font-family: $font-cursive;
  font-size: 4rem;
  text-decoration: none;
}

.footer-content {
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}

.contact {
  display: flex;
  gap: 3rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  text-align: center;
  font-size: 1.1rem;
  p {
    color: $color-grey;
  }
  a {
    color: darken($color-grey, 15);
  }
}

.contact-name {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.social {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.copyright {
  color: $color-grey;
  text-align: center;
  font-size: 14px;
  margin-top: 3rem;
}

.facebook svg,
.instagram svg {
  font-size: 3rem;
  cursor: pointer;
}

.footer-img-container {
  max-width: 300px;
  margin-bottom: 2rem;
}

.footer-img-container img {
  max-width: 100%;
  border-radius: 50%;
  border: 1px solid $color-secondary;
}

.card {
  position: relative;
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .box {
    position: relative;
    width: 100%;
    background: transparent;
    border-radius: 15px;
  }
  .box:nth-child(1) {
    color: white;
    p {
      font-size: 3.5rem;
      padding-left: 5rem;
      background: -webkit-linear-gradient(#fff, lighten($color-accent, 50));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .box:nth-child(2) {
    background: -webkit-linear-gradient(
      180deg,
      #fff,
      lighten($color-detail, 50)
    );
    width: 100%;
    display: flex;
    font-size: 1.2rem;
    font-family: $font-secondary;
    flex-direction: column;
    color: $color-accent;
    gap: 0.5rem;
    padding-top: 0rem;
    border: 1px solid $color-detail;
    opacity: 0.9;
    padding: 2rem 0 1rem 0;
    a {
      color: $color-accent;
    }
    .socials {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-top: 1rem;

      svg {
        font-size: 3rem;
      }
    }
  }
  .circle {
    position: absolute;
    top: 30%;
    left: -125px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    transform: translateY(-50%);
    border: 1px solid $color-white;
    background-size: contain;
  }
}

.partners {
  color: red;
  width: 80%;
  margin: 0 auto;
  margin-top: 3rem;
  font-size: 3rem;

  .partners-container {
    .partner {
      background: blue;

      img {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 900px) {
  .footer-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;
  }
}
