$color-dark: #383838;
$color-accent: #324b4c;
$color-white: #fff;
$color-grey: #eeeeee;
$color-secondary: #fff8d6;
$color-detail: #ff00dc;
$font-primary: "Roboto", sans-serif;
$font-cursive: "The Nautigal", cursive;
$font-secondary: "Playfair, serif";
